rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read access to topics and posts
    match /topics/{document=**} {
      allow read: if true;
      allow write: if true;
    }
    match /posts/{document=**} {
      allow read: if true;
      allow write: if true;
    }
  }
}
